.character {
  // flex: 1;
  margin: 10px;
  background: #26C6DA;
  box-shadow: px 5px 15px 5px #dededeab;
  border-radius: 5px 5px 0 0;
  transition: filter .75s ease-in-out,
              box-shadow .2s ease-in-out;
  &:hover, &:active {
    box-shadow: 0px 0px 8px 3px #dedede;
    filter: grayscale(1);
  }

  .avatar {
    border-radius: inherit;

    img {
      border-radius: inherit;
      width: 100%;
    }
  }

  .description {
    padding: 10px;
  }

  .name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
  }
}

@supports (display: grid) {
  .character {
    margin: auto;

  }
}