.character {
  background: #26C6DA;
  box-shadow: 3px 3px 5px 5px #dedede;
  border-radius: 10px;
  transition: filter .75s ease-in-out,
              box-shadow .2s ease-in-out;
  &:hover, &:active {
    box-shadow: none;
    filter: grayscale(1);
  }

  .avatar {
    border-radius: 10px 10px 0 0;

    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
    }
  }


  .description {
    padding: 10px;
  }
}
